<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<application>
<activity android:name=".MainActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="${authRedirectScheme}"
                    android:host="${authRedirectHost}"
                    android:path="${authRedirectPath}" />
            </intent-filter>
</activity>
        <service
            android:name=".BeYourEyeFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <!-- Firebase Messaging 34.x direct-send mode. onRegistered/onUnregistered expose the
             Firebase Installation ID only when this explicit opt-in is present. -->
        <meta-data
            android:name="firebase_messaging_installation_id_enabled"
            android:value="true" />
</application>
</manifest>
